# --- Carpetas de compilación ---
/build/
/dist/

# --- Configuración local de NetBeans ---
/nbproject/private/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# --- Archivos compilados ---
*.class

# --- Archivos temporales ---
*.log
*.tmp
*.bak
*.swp

# --- Configuración de otros IDEs ---
/.idea/
/.vscode/
/*.iml
*.ipr
*.iws

# --- Archivos del sistema ---
.DS_Store
Thumbs.db
desktop.ini
